<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="get-in-touch">
    <h1 class="title">Modip Money</h1>
    <form class="contact-form row">
        <fieldset class="form-field col-lg-6">
            <div class="form-field col-lg-6">
                <input id="name" class="input-text js-input" type="text" required>
                <label class="label" for="name">Prenom</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="email" class="input-text js-input" type="email" required>
                <label class="label" for="email">Nom</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="company" class="input-text js-input" type="text" required>
                <label class="label" for="company">Telephone</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="phone" class="input-text js-input" type="text" required>
                <label class="label" for="phone">Monant</label>
            </div>
        </fieldset>
        <fieldset class="form-field col-lg-6">
            <div class="form-field col-lg-6">
                <input id="name" class="input-text js-input" type="text" required>
                <label class="label" for="name">Prenom</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="email" class="input-text js-input" type="email" required>
                <label class="label" for="email">Nom</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="company" class="input-text js-input" type="text" required>
                <label class="label" for="company">Telephone</label>
            </div>
            <div class="form-field col-lg-6 ">
                <input id="phone" class="input-text js-input" type="text" required>
                <label class="label" for="phone">Cni</label>
            </div>
        </fieldset>
        <div class="bouton">
            <input class="submit-btn" type="submit" value="Envoyer">
        </div>
    </form>
</section>