<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="get-in-touch">
    <h6 class="title">Modip Money</h6>
    
<div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Identifiant</th>
            <th scope="col">Date d'envoie</th>
            <th scope="col">Montant Envoyé</th>
            <th scope="col">Emeteurs</th>
            <th scope="col">Recepteurs</th>

          </tr>
        </thead>
        <tbody *ngFor='let liste of listerEnvoie'>
          <tr>
            <th scope="row">{{liste.id}}</th>
            <td>{{liste.date}}</td>
            <td>{{liste.montant}}</td>

            <td>{{liste.emetteur.prenom}} {{liste.emetteur.nom}}</td>
            <td>{{liste.recepteur.prenom}} {{liste.recepteur.nom}}</td>
            
          </tr>
        </tbody>
      </table>
</div>
</section>